@import "../../../css/base/variable.scss";
.m-mask{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.6);
    text-align: center;
    z-index: 50;
    
    /*opacity: 0;*/
    visibility: hidden;
    /*pointer-events:none;*/
    @include transition;
    /*@include transition-property(visibility);*/
    @include transition-delay(400ms);
    @include animation-duration(0.3s);
    @include animation-delay(0.3s);

    &[data-onshow]{
        /*opacity: 1;*/
        /*pointer-events:auto;*/
        visibility: visible;
        @include animation-delay(0s);
        @include transition-delay(0s);
    }

    [data-node=content]{
        display: inline-block;
        width: auto;
        max-width: 80%;
        text-align: justify;
        line-height: 1.8;
        font-weight: 400;
        color: #fff;
    }
}
