.page_lab {
  min-height: 100%; }

@media screen and (max-width: 750px) {
  .page_lab .thumbnail {
    width: auto;
    height: 100%; }
  .page_lab[src] {
    height: 100%;
    width: initial; }
  .page_lab .info {
    font-size: 12px; }
    .page_lab .info dt {
      font-size: 20px; }
    .page_lab .info .abst {
      height: calc(100% - 76px); } }
