.page_lab {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch; }
  .page_lab .list {
    margin: auto; }
  .page_lab .unit {
    /*float: left;*/
    width: 100%;
    height: 0.3 0.2rem;
    margin: .04rem 0;
    /*padding: 2px 0;*/ }
    .page_lab .unit[data-list] {
      display: none; }
    .page_lab .unit a {
      text-decoration: none; }
  .page_lab .uniwrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("/static/images/progressing.gif") 25% center no-repeat; }
  .page_lab .labtitle {
    display: none; }
  .page_lab .thumbnail {
    position: absolute;
    display: block;
    margin: auto;
    width: 50%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity; }
    .page_lab .thumbnail[lazy-loading] {
      opacity: 0; }
    .page_lab .thumbnail[src] {
      height: initial;
      /*@include filter(brightness(1.5));*/ }
  .page_lab .unit:hover .thumbnail[src] {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    filter: brightness(1.2); }
  .page_lab .unit:hover dt {
    color: #4fcbbd; }
  .page_lab .info {
    position: relative;
    padding: 0 0.06rem 0 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 50%) transparent;
    z-index: 2;
    overflow: hidden; }
    .page_lab .info dt,
    .page_lab .info dd {
      color: #666; }
    .page_lab .info dt {
      font-size: .44rem;
      line-height: 2;
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .page_lab .info dd {
      margin: 0 0.5em 0.5em 0.5em;
      color: #666; }
    .page_lab .info .tags {
      /*text-decoration: underline;*/
      white-space: nowrap; }
    .page_lab .info .abst {
      height: 6.5em;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -moz-overflow-scrolling: touch; }
    .page_lab .info p {
      line-height: 1.5;
      text-indent: 2em;
      color: #333; }

@media screen and (max-width: 1200px) {
  .page_lab .thumbnail {
    width: auto;
    height: 100%; }
  .page_lab .thumbnail[src] {
    height: 100%;
    width: initial; }
  .page_lab .info {
    font-size: .24rem; }
    .page_lab .info dt {
      font-size: .4rem; } }
