/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
.wrap {
  margin-top: 1.3rem; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 0.04rem;
  visibility: hidden;
  z-index: 10;
  overflow-x: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s; }
  .main-nav.show {
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
  .main-nav ul {
    text-align: center;
    white-space: nowrap; }
    .main-nav ul:before, .main-nav ul:after {
      content: '';
      display: inline-block;
      width: 50%;
      height: 100%; }
  .main-nav li {
    display: inline-block; }
    .main-nav li a {
      display: inline-block;
      line-height: .64rem;
      height: .7rem;
      padding: 0.6rem .16rem 0;
      font-size: .28rem;
      text-decoration: none;
      color: #666;
      transition: all 0.2s ease 0s;
      -webkit-transition: all 0.2s ease 0s; }
    .main-nav li.cur a {
      color: #3DC6B6; }

nav icon {
  padding: 0 .1rem;
  min-width: 1.2em;
  text-align: center;
  display: inline-block; }
