<!-- track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} --> 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        
        <title>${title}</title>
        
        <link rel="stylesheet" media="screen" href="${staticHost}/static/css/main.css" />
        
        <script>
        var $config = {},
            $data = {};
        </script>
        <script src="${staticHost}/static/lib/fastclick.js"></script>
        <script src="${staticHost}/static/lib/react.js"></script>
        <script src="${staticHost}/static/lib/promise.js"></script>
        <script src="${staticHost}/static/lib/alpha.js"></script>
        ${livereload}
    </head>
    <body class="loading">
        <div id="wrapper" class="main-wrapper">
${body}
        </div>
${script}
    </body>
</html>