<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        
        <title>❄ neetproject</title>
        
        <link rel="shortcut icon" href="/static/images/fav.png" />
        <link rel="stylesheet" media="screen" href="/static/css/neet.css" />
        
        <script>
        var $config = {},
            $data = {};
        </script>
        <script src="/static/lib/fastclick.js"></script>
        <script src="/static/lib/react.js"></script>
        <script src="/static/lib/alpha.neet.js"></script>
        {{ livereload }}
    </head>
    <body class="loading">
        <div id="wrapper" class="main-wrapper">
{{ content }}
        </div>
        <div id="syscomp" class="main-comp">
            <canvas id="canvas0" class="main-bg"></canvas>
            <canvas id="canvas1" class="main-bg"></canvas>
            <nav id="mainnav" class="main-nav">
                <ul>
{% include nav.inc %}
                </ul>
            </nav>
            <div class="main-loading loading" onclick="window.history.go(-1);"></div>
        </div>
    </body>
</html>