@font-face {
    font-family: fot-klee;
    src: url('fot-klee.min.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Helvetica;
    src: url('HelveticaNeueThin.min.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
