/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
@import "../../variable.scss";

.m-modalview{
    border-top: 1px solid $color-border;
    background: #f6f6f6;

    .m-modalview-head{
        position: relative;
        border-bottom: 1px solid $color-border;
        background: #fff;
        h1{
            margin: 0;
            padding: .18rem 1em;
            text-align: center;
            font-size: .32rem;
            font-weight: 700;
            line-height: 1;
            min-height: .32rem;
        }
        [data-node="cancel"],
        [data-node="check"]{
            position: absolute;
            top: 0;
            padding: .18rem .18rem;
            line-height: 1;
            font-size: .32rem;
            font-weight: 100;
            color: $color-font-sys;
        }
        [data-node="cancel"]{
            left: 0;
        }
        [data-node="check"]{
            right: 0;
        }
    }
    .m-modalview-cont{
        position: relative;
    }
}
