/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
@import "../../variable.scss";
$calendar-item-size : .66rem;
.m-calendar{
    background: $color-background;
    .calendar-title{
        color: $color-font;
        font-size: .32rem;
        text-align: center;
        line-height: .8rem;
        font-weight: 700;
        background: $color-background-white;
    }
    .icon-prev{
        line-height: .8rem;
        float: left;
    }
    .icon-next{
        line-height: .8rem;
        float: right;
    }
    .list-weekday{
        background: #e4e4e4;
        padding: 0 .2rem;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        li{
            color: $color-font;

            &:first-child,
            &:last-child{
                color: $color-strong;
            }
        }
    }
    .list-date{
        position: relative;
        // padding: .12rem .2rem .2rem;
        .calendar-background{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 4rem;
            font-weight: 700;
            color: #f1f1f1;
            @include transform(translate(-50%, -50%));
            z-index: 1;
        }
        ul{
            position: relative;
            padding: 0 .2rem .2rem;
            z-index: 2;
        }
        li{
            border-bottom: 1px solid #dedede;
            color: $color-font-disabled;
            cursor: pointer;
            &[data-enable]{
                color: #777;                
            }
            &[data-enable].cur-month{
                color: #333;
                font-weight: 700;
            }
            &:active em{
                background: #dedede;
            }
            &.selected em{
                background: $color-main;
                color: #fff;
            }
        }
    }
    .list-weekday,
    .list-date{
        text-align: justify;
        li{
            display: inline-block;
            text-align: center;
            width: percentage(1/7);
            em{
                display: inline-block;
                width: $calendar-item-size;
                line-height: $calendar-item-size;
                height:  $calendar-item-size;
                margin:.06rem;
                border-radius: 100%;
                color: inherit;
                font-size: .28rem;
            }
        }
    }
}