.page_blog {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch; }
  .page_blog .blog_list {
    padding: 0 0.18rem 2rem 0.18rem; }
    .page_blog .blog_list .postlist {
      overflow: hidden;
      /*@include transition;*/ }
      .page_blog .blog_list .postlist .title {
        color: #333; }
      .page_blog .blog_list .postlist article {
        position: relative;
        margin: .04rem 0;
        padding: .4rem;
        background: rgba(255, 255, 255, 0.8);
        line-height: 1.8; }
        .page_blog .blog_list .postlist article .title {
          text-decoration: none; }
          .page_blog .blog_list .postlist article .title h1 {
            font-size: .3rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
      .page_blog .blog_list .postlist .infobox {
        border-top: 1px solid #ccc; }
      .page_blog .blog_list .postlist .info {
        color: #666;
        padding: .16rem; }
      .page_blog .blog_list .postlist .content {
        color: #333;
        line-height: 2;
        height: 4em;
        overflow: hidden;
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s; }
        .page_blog .blog_list .postlist .content p {
          text-indent: 2em; }
      .page_blog .blog_list .postlist .content a,
      .page_blog .blog_list .postlist .more a {
        color: #4fcbbd;
        /*text-decoration: underline;*/ }
        .page_blog .blog_list .postlist .content a:hover,
        .page_blog .blog_list .postlist .more a:hover {
          color: #fb7e35; }
      .page_blog .blog_list .postlist .more {
        text-align: right; }

@media screen and (max-width: 1000px) {
  .page_blog .blog_list {
    padding: 0 0 2rem 0; } }
