body{
    font-family: 'Benton Sans', 'Microsoft YaHei', Arial, Helvetica, sans-serif;
	color:#666;
	fonr-size:16px;
	background:#F0F9FF;
	padding: 50px;
}
h1{
	color: #bbb;
	font-size: 90px;
	margin-bottom: 10px;
}
