@import '../../static/css/variable.scss';
.page_article{
    min-height: 100%;
    .wrap_fix{
        padding: 0 9px 100px 9px;
    }
    .bread-crumb{
        padding: 0 20px;
        background: rgba(255,255,255,.8);
        li{
            display: inline-block;
            line-height: 3;
        }
        li + li:before{
            content: '»';
            padding: 0 .3rem;
            display: inline-block;
            color: $color-text-sub;
            font-size: 1rem;
        }
        a{
            display: inline-block;
            text-decoration: none;
            color: $color-theme;
            &:hover{
                color: $color-stress;
            }
        }
    }
    article{
        margin: 9px 9px;
        padding: 20px;
        background: rgba(255,255,255,.8);
    }
}
@media screen and (max-width : 750px){
}