/* base
----------------------------------*/
@import "./base/reset.scss";
@import "./base/animate.scss";
@import "./base/common.scss";
@import "./base/grid.scss";
@import "./base/pixelfix.scss";
@import "./base/fastclick.scss";
/* ui
----------------------------------*/
@import "./ui/icon.scss";
@import "./ui/checkbox.scss";
@import "./ui/button.scss";


body{
    &.loading {
        background-color: $color-background;
        & > .main-wrapper{
            display:none;
        }
    }
    & > .main-wrapper{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        /*background: transparent;*/
    }
}