@import "./variable.scss";
/* base
----------------------------------*/
@import "./base/reset.scss";
@import "./base/animate.scss";
@import "./base/common.scss";
@import "./base/grid.scss";
@import "./base/pixelfix.scss";
@import "./base/fastclick.scss";
/* ui
----------------------------------*/
// @import "./ui/font-awesome.scss";
@import "./ui/themify.scss";
@import "./ui/checkbox.scss";
@import "./ui/button.scss";
@import "./ui/markdown.scss";

/* custom
----------------------------------*/
body{
}
.main-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: transparent;
    @include scroll(scroll);
    overflow-x: hidden;
}
@media screen and (min-width : 1001px){
    @import "./mediaquery/main_normal.scss";
}
@media screen and (max-width : 1000px){
    @import "./mediaquery/main_mobile.scss";
}