$color-theme : #48D3CE;
$color-assist : rgb(180, 220, 255);
$color-stress : #FE7F57;

$color-text : #666;
$color-text-sub : #a1a1a1;
$color-litewhite : #e0e0e0;

$navsize : 220px;

@mixin transition($dua : .2s){
    -webkit-transition: all $dua ease;
    -moz-transition: all $dua ease;
    transition: all $dua ease;
}
@mixin transform($arg){
	-webkit-transform:$arg;
	-moz-transform:$arg;
	transform:$arg;
}
@mixin transform-origin($arg : center center){
	-webkit-transform-origin:$arg;
	-moz-transform-origin:$arg;
	transform-origin:$arg;
}
@mixin open3d{
    -webkit-perspective: 800;
    -moz-perspective: 800;
    perspective: 800;
}
@mixin filter($prop){
    -webkit-filter: $prop;
    -moz-filter: $prop;
    filter: $prop;
}