/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
@import "../../variable.scss";

$photoview-thumb-size: 1.2rem;
$photoview-thumb-padding: $wrap-padding;
$photoview-delbtn-size: 0.48rem;

.m-photoview{
    position: fixed;
    z-index: 200;
    background: rgba(0,0,0,.8);
    overflow: hidden;

    pointer-events:none;
    visibility: hidden;
    @include animation-duration(0.3s);

    &[data-show]{
        pointer-events:auto;
        visibility: visible;
    }
    .m-photoview-head{
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        font-size: .32rem;
        font-weight: 700;
        color: #f1f1f1;
    }
    .m-photoview-list{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        ul{
            width: 100%;
            @include scrollX;
            white-space: nowrap;
        }
        li{
            position: relative;
            display: inline-block;
            height: $photoview-thumb-size;
            width: $photoview-thumb-size;
            margin: $photoview-thumb-padding;

            vertical-align: middle;

            &.current{
                outline: $color-main .04rem solid;
            }
            img{
                display: block;
                height: $photoview-thumb-size;
                width: $photoview-thumb-size;
                background: #aaa;
            }
            .icon.close{
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: $photoview-delbtn-size;
                height: $photoview-delbtn-size;
                line-height: $photoview-delbtn-size;
                text-align: center;

                @include transform(scale(.8));
                @include transform-origin(100% 0);

                z-index: 1;

                &:before{
                    color:#eee;
                    background: rgba(0,0,0,.5);
                    border-radius: 100%;
                    font-size: .24rem;
                }
            }
            & + li{
                margin-left: 0;
            }
        }
    }
    .m-photoview-cont{
        position: absolute;
        top: .8rem;
        bottom: #{$photoview-thumb-size + 2 * $photoview-thumb-padding};
        left: $wrap-padding;
        right: $wrap-padding;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            max-width: 100%;
            max-height: 100%;
            @include transform(translate(-50%, -50%));
        }
        &:before{
            color: #fafafa;
        }
    }
    .m-photoview-uploader label{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 1px dashed #eee;
        color: #eee;
        &:before{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: .4rem;
            @include transform(translate(-50%, -50%));
        }
    }
    .m-photoview-close{
        position: absolute;
        top: 0;
        right: 0;
        .icon{
            font-size: .6rem;
            &:before{
                color: #c1c1c1;
            }
        }
    }
}