/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
@import "../../variable.scss";
.m-pushpage{
    position: fixed;
    background: rgba(248,248,248,1);
    text-align: left;
    z-index: 100;
    outline: 1px #ccc solid;

    visibility: hidden;
    /*@include transition;*/
    @include transform(translate(100%, 0));
    // @include transform(translateX(100%));

    @include animation-duration(0.4s);

    &[data-show]{
        visibility: visible;
        @include transform(translate(0%, 0));
        // @include transform(translateX(0%));
    }

    .slide-wrap{
        height: 100%;
        overflow-x: hidden;
        @include scroll;
    }

    &.animated{
        pointer-events : none;
        /*.slide-wrap{
            display: none;
        }*/
    }
}
body{
    #wrapper{
        // @include transition(0.4s);
    }
    &.pushpage-sub #wrapper{
        // @include transform(translateX(-40%));
    }
}