/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
@import "../../variable.scss";
.m-controls{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 300;
    background: rgba(0,0,0,.7);
    overflow: hidden;

    pointer-events:none;
    visibility: hidden;
    // @include transition;
    @include animation-duration(0.3s);
    @include animation-delay(0s);
    // @include perspective;

    .m-controls-content{
        // @include forcerender();
        @include animation-duration(0.3s);
        // @include transition(.3s);
    }
    &[data-type="bottom"] .m-controls-content{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        // @include transform(translateY(100%));
    }
    &[data-type="middle"]{
        text-align: center;
        vertical-align: middle;
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .m-controls-content{
            display: inline-block;
            vertical-align: middle;
            opacity: 0;
        }
    }
    /*&.[data-type="bottom"] .m-controls-content{
    }*/

    &[data-show]{
        pointer-events:auto;
        visibility: visible;

        .m-controls-content{
            opacity: 1;
        }
        &[data-type="bottom"] .m-controls-content{
            // @include transform(translate(0));
        }
    }


}
