/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
@import "../../variable.scss";

$picker-item-height : .68rem;
$picker-cont-background : #ececec;
$picker-marker-border : #ccc;
.m-picker{
    min-height: #{5 * $picker-item-height};
    .picker-slider{
        position: relative;
        display: none;
    }
    ul{
        text-align: center;
        height: #{1 * $picker-item-height};
        @include scroll(scroll);
        margin: 0;
        padding: #{2 * $picker-item-height} 0;
    }
    li{
        display: block;
        height: $picker-item-height;
        line-height: $picker-item-height;
        font-size: .28rem;
    }
}
.m-picker-markernode,
.m-picker-marker:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: $picker-item-height;
    line-height: $picker-item-height;
    margin-top: #{-$picker-item-height / 2 - .02rem}; 
    border-top: .02rem solid $picker-marker-border;
    border-bottom: .02rem solid $picker-marker-border;

    pointer-events: none;
}
.m-picker-background{
    background-color: $picker-cont-background;
    @include linear-gradient(-webkit-mask-image, to bottom, transparent 0%, $picker-cont-background 20%, $picker-cont-background 80%, transparent 100%);
}
[data-show] .m-picker .picker-slider{
    display: block;
}