@import "../../../../css/base/variable.scss";
#rejectReason{
    display: none;
    line-height: .7rem;
    /*border-bottom:1px solid #cbcbcb;*/
    background: #fff4bb;
    color: #666;
    font-size: .26rem;
    text-align: center;
}