@charset "UTF-8";
.page_article {
  min-height: 100%; }
  .page_article .wrap_fix {
    padding: 0 9px 100px 9px; }
  .page_article .bread-crumb {
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.8); }
    .page_article .bread-crumb li {
      display: inline-block;
      line-height: 3; }
    .page_article .bread-crumb li + li:before {
      content: '»';
      padding: 0 0.3rem;
      display: inline-block;
      color: #a1a1a1;
      font-size: 1rem; }
    .page_article .bread-crumb a {
      display: inline-block;
      text-decoration: none;
      color: #48D3CE; }
      .page_article .bread-crumb a:hover {
        color: #FE7F57; }
  .page_article article {
    margin: 9px 9px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); }
