@import '../../static/css/variable.scss';
.page_lab{
    height: 100%;
    @include scroll(scroll);

    .thumbnail{
        width: auto;
        height: 100%;
    }
    &[src]{
        height: 100%;
        width: initial;
    }   
    .info{
        font-size: .24rem;
        dt{
            font-size: .4rem;
        }
        .abst{
            height: calc(100% - 1.52rem);
        }
    }
}
@media screen and (max-width : 1200px){
}