@import "../base/variable.scss";

.ui-radio{
    display: none;

    & + span{
        display: inline-block;
        min-height: .28rem;

        &:before {
            content :'';
            display: inline-block;
            margin: 0 .14rem 0 0;
            width: .28rem;
            height: .28rem;
            border-radius: 100%;
            border: .02rem #dadbdf solid;
            background: #fff;
            box-sizing:border-box;
            vertical-align: middle;
            @include transition(.1s);
        }
        &:active:before{
            border: .02rem $color-main-dark solid;
        }
    }
    &:disabled + span{
        &:before{
            background: #f4f4f4;
        }
    }

    &:checked + span {
        &:before{
            border: .08rem $color-main-dark solid;
        }
    }

    &:disabled:checked + span {
        &:before{
            border: .08rem #f4f4f4 solid;
            background: #c8c8c8;
        }
    }
}

.ui-checkbox {
    display: none;

    & + span {
        display: inline-block;
        min-height: .28rem;

        &:before {
            content :'';
            display: inline-block;
            margin: 0 .14rem 0 0;
            width: .28rem;
            height: .28rem;
            line-height: .28rem;
            border-radius: 100%;
            border: .02rem #dadbdf solid;
            background: #fff;
            vertical-align: middle;
            @include fontAwesome;
            text-align: center;
            font-size: .36rem;
            color: #fff;
        }
        &:active:before{
            border-color: $color-main-dark;
        }
    }
    &:disabled + span{
        &:before{
            background: #f4f4f4;
        }
    }

    &:checked + span {
        &:before{
            content:'\f058';
            border: none;
            /*border-color: $color-main-dark;*/
            color: $color-main-dark;
            margin-left: -.04rem;
            margin-top: -.04rem;
        }
    }

    &:disabled:checked + span {
        &:before{
            color: #c8c8c8;
        }
    }
}
