@import "../variable.scss";
$navsize : 1.3rem;

.wrap{
    margin-top: $navsize;
}
.main-nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: #fafafa;
    box-shadow: rgba(0,0,0,.4) 0 0 .04rem;
    visibility: hidden;
    z-index: 10;
    @include transform(translateY(-100%));
    @include transition;
    
    &.show{
        visibility: visible;
        @include transform(translateY(0));
    }
    ul{
        text-align: center;
        white-space: nowrap;
    }
    li{
        display: inline-block;
        a{
            display: inline-block;
            line-height: .64rem;
            height: .7rem;
            padding: 0.6rem .16rem 0;
            font-size: .28rem;
            text-decoration: none;
            color: $color-font-sub;
            @include transition;
        }
        &.cur a{
            color: $color-main;
        }
        icon{
            padding: 0 .1rem;
        }
    }
}