.page_index {
  position: relative;
  height: 100%; }
  .page_index .main {
    position: relative;
    top: 37%;
    padding: 0 3%; }
  .page_index h1 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1; }
  .page_index .descbox {
    margin-bottom: .16rem;
    padding-left: .24rem;
    border-top: 1px solid #666; }
  .page_index .desc {
    padding: 0 0.24rem;
    font-size: .24rem;
    color: #666;
    line-height: 1.8;
    font-weight: 400; }
  .page_index ul {
    float: left;
    width: 3.8rem; }
    .page_index ul.posts {
      width: 30em; }
    .page_index ul time {
      font-size: .24rem;
      display: inline-block;
      width: 6em;
      overflow: hidden; }
  .page_index li {
    border-left: #333 solid 0.06rem;
    margin: 0 0 0 0.12rem;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
    transition-property: border-color; }
    .page_index li:first-child,
    .page_index li:hover {
      border-color: #4fcbbd; }
    .page_index li a {
      display: block;
      padding: 0.08rem 0 0.08rem 0.24rem;
      text-decoration: none;
      color: #666;
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      .page_index li a:hover {
        color: #4fcbbd; }
  .page_index footer {
    position: absolute;
    bottom: .08rem;
    padding: 0 3%; }
    .page_index footer p {
      margin: 0 0.12rem;
      font-size: .24rem;
      line-height: 1.4;
      color: #666; }
    .page_index footer a {
      color: #666;
      text-decoration: underline; }
      .page_index footer a:hover {
        color: #666; }

@media screen and (max-width: 1000px) {
  .page_index .main {
    top: 25%; }
  .page_index h1 {
    font-size: .8rem;
    padding-left: .24rem; }
  .page_index ul.pages {
    float: left;
    width: 40%; }
  .page_index ul.event,
  .page_index ul.posts {
    float: right;
    width: 60%;
    /*margin-bottom: .3rem;*/ }
  .page_index ul time {
    width: 3.3em; } }
