.page_lab {
	position: relative;
	overflow: hidden;
}
.page_lab .wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	transition:none .3s ease .3s;
	transition-property:opacity, visibility;
}
.onshow.page_lab .labbox,
.page_lab .labcont{
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}
.page_lab .labbox,
.onshow.page_lab .labcont{
	pointer-events: auto;
	opacity: 1;
	visibility: visible;
}
/*listbox ############################################################*/
.page_lab .search{
	display: block;
	border:1px solid #aaa;
	padding: 2px 0 2px 1em;
	margin: 3px auto;
	width: calc(100% - 1em - 10px);
	border-radius: 3px;
	outline: 0;
	transition:all 0.1s linear 0s;
}
.page_lab .search:focus{
	box-shadow: rgba(255, 198, 0, .4) 0 0 2px;
	border-color:#f90;
}
.onshow.page_lab .search{
	-webkit-transform: translateY(-120%);
	visibility: hidden;
}
.page_lab .list{
}
@media screen and (max-width : 750px){
	.page_lab .list{
		padding-bottom: 2px;
	}
}
.page_lab .lab{
	display: block;
	float: left;
	width: calc(20% - 1px);
	height: 160px;
	margin: 1px 1px 0 0;
	/*height: 160px;*/
	cursor: pointer;
	overflow: hidden;
	opacity: 1;
	background: #fff;
	transition:none 0.3s linear 0s;
	transition-property:visibility, opacity, -webkit-transform;
    /*-webkit-perspective:800;*/
}
.onshow.page_lab .lab{
	opacity: 0;
	visibility: hidden;
}
.page_lab .lab.hide{
	/*transition-delay:.4s;*/
	display:none;
}
@media screen and (min-width : 1800px)							{.page_lab .lab{width: calc(20% - 1px);		height: 25%;}}
@media screen and (min-width : 1400px) and (max-width : 1800px)	{.page_lab .lab{width: calc(20% - 1px);		height: 160px;}}
@media screen and (min-width : 1000px) and (max-width : 1400px)	{.page_lab .lab{width: calc(25% - 1px);		height: 140px;}}
@media screen and (min-width :  640px) and (max-width : 1000px)	{.page_lab .lab{width: calc(33.33% - 1px);	height: 140px;}}
@media screen and (min-width :  400px) and (max-width :  640px)	{.page_lab .lab{width: calc(50% - 1px);		height: 140px;}}
@media screen and (max-width :  400px)							{.page_lab .lab{width: 100%;				height: 120px;margin: 1px 0 0 0;}}
[data-cur] .page_lab .lab:nth-of-type(7n)   {transition-delay: 0s;}
[data-cur] .page_lab .lab:nth-of-type(7n+1) {transition-delay:.2s;}
[data-cur] .page_lab .lab:nth-of-type(7n+2) {transition-delay:.3s;}
[data-cur] .page_lab .lab:nth-of-type(7n+3) {transition-delay:.1s;}
[data-cur] .page_lab .lab:nth-of-type(7n+4) {transition-delay:.4s;}
[data-cur] .page_lab .lab:nth-of-type(7n+5) {transition-delay:.2s;}
[data-cur] .page_lab .lab:nth-of-type(7n+6) {transition-delay:.3s;}

.page_lab .lab:hover .view{
	/*-webkit-filter:grayscale(0);*/
}
.page_lab .lab:hover .mask{
	opacity:.1;
}
.page_lab .lab a{
	color: inherit;
}
.page_lab .unit{
	position: relative;
	max-width: 100%;
	max-height: 100%;
}
.page_lab .view,
.page_lab .mask{
	display: block;
	transition:all 0.2s ease 0s;
}
.page_lab .view{
	width: 100%;
	/*border: none;*/
	min-height: 100%;
	-webkit-user-drag:none;
}
.page_lab .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(255,255,255,.7);
	/*opacity: 0;*/
}

.page_lab h2,
.page_lab p{
	margin-left: 5%;
	margin-right: 5%;
}
.page_lab .mask_title{
	padding-top: 12px;
	font-size: 24px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.page_lab .mask_date{
	font-size: 12px;
	padding: 5px 0;
}
/*showbox------------------*/
.page_lab .labhead{
	position: relative;
	height: 26px;
	line-height: 26px;
	background:#333;
	box-shadow: rgba(0,0,0,.4) 0 0 4px;
	z-index: 2;
}
.page_lab .lab_title{
	float:left;
	padding-left: 16px;
	font-size: 12px;
	color:#ccc;
}
.page_lab .lab_func{
	text-align: right;
}
.page_lab .lab_func a{
	display: inline-block;
	width: 20px;
	text-align: center;
	text-decoration: none;
	color: #aaa;
	font-size: 14px;
	vertical-align: middle;
	transition:all .2s ease;
}
.page_lab .lab_func a:hover{
	color:#ccc;
	text-shadow:rgba(255,255,255,.4) 0 0 2px;
}
.page_lab .iframe{
	position: relative;
	width:calc(100% - 1px);
	height:calc(100% - 26px);
	border-left:#333 solid 1px;
	background:#fff;
	z-index: 1;
	transition:none .2s ease 0;
	transition-property:background, opacity;
}

