@import '../../static/css/variable.scss';
.page_blog{
    height: 100%;
    @include scroll(scroll);

    .blog_list{
        padding: 0 .18rem 2rem .18rem;

        .postlist{
            overflow: hidden;
            /*@include transition;*/

            .title{
                color:#333;
            }
            article{
                position: relative;
                margin: .04rem 0;
                padding: .4rem;
                background: rgba(255,255,255,.8);
                line-height: 1.8;
                .title{
                    text-decoration: none;

                    h1 {
                        font-size: .3rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
            .infobox{
                border-top:1px solid #ccc;
            }
            .info{
                color: $color-font-sub;
                padding: .16rem;
            }
            .content{
                color: $color-font;
                line-height: 2;
                height: 4em;
                overflow: hidden;
                @include transition;

                p{
                    text-indent: 2em;
                }
            }
            .content a,
            .more a{
                color: $color-main;
                /*text-decoration: underline;*/
                &:hover{
                    color: $color-em;
                }
            }
            .more{
                text-align: right;
            }
        }
    }
}
@media screen and (max-width : 1000px){
    .page_blog{
        .blog_list{
            padding: 0 0 2rem 0;
        }
    }
}
.blog-drawer{
    height: 100%;
    width: 100%;
}