/*
    普通form＋df
*/
@import "../base/variable.scss";
@import "./checkbox.scss";


$form-size-pad : .30rem;
$form-color-background : #fff;
$form-color-border : #dedede;
$form-height : .90rem;

@mixin form-padding(){
    padding-left: $form-size-pad;
}
@mixin form-margin(){
    margin-left: $form-size-pad;
}
@mixin form-font-head(){
    font-size: .26rem;
    color: #999;
}
@mixin form-font-title(){
    line-height: $form-height;
    font-size: .30rem;
    color: #333;
    /*span {
        display: inline-block;
        line-height: 1.2;
    }*/
}
@mixin form-font-content(){
    font-size: .30rem;
    color: #333;
}
@mixin form-font-content-dis(){
    font-size: .30rem;
    color: #999;
}
@mixin form-head(){
    @include form-padding;
    @include form-font-head;
    float: none;
    background: none;
    height: .60rem;
    line-height: .60rem;
}
@mixin form-hidden-input(){
    border:none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.tips-select:after{
    content: "\f105";
    position: absolute;
    right: 0;
    top: 0;
    width: .80rem;
    text-align: center;
    font-size: .40rem;
    color: #bcbcbc;
    line-height: $form-height;
    font-family: 'FontAwesome';
}

.form-item,
.dynamic-form-item{
    /*
        默认头和提示隐藏
    */
    position: relative;
    padding : 0;
    font-size: .26rem;
    background: $form-color-background;
    border-top: 1px solid $form-color-border;
    border-bottom: 1px solid $form-color-border;
    overflow: hidden;

    .form-item-title,
    .dynamic-form-item-title,
    .dynamic-form-item-tips{
        display: none;
    }
    .required{
        display: none !important;
    }
    &.hidden{
        display: none;
    }
    + .form-item,
    + .dynamic-form-item{
        border-top: none;
    }


    /* blank
    ---------------------------------------------*/
    &.blank{
        background: none;
    }
    /* group
    ---------------------------------------------*/
    &.group{
        background: none;
        border:none;
    }
    /* headline
    ---------------------------------------------*/
    &.headline{
        @include form-head;
    }

    /* common block
    ---------------------------------------------*/
    &.common{
        background: none;
        .form-item-title,
        .dynamic-form-item-title{
            display: block;
            @include form-head;
        }
        .form-item-content,
        .dynamic-form-item-content{
            border-top: 1px solid $form-color-border;
            background: $form-color-background;
        }
    }
    /* text
    ---------------------------------------------*/
    &.text{
        @include form-padding;
        .form-item-title,
        .dynamic-form-item-title{
            @include form-font-title;
            float: left;
            display: block;
            width: 5.5em;
        }
        .form-item-content,
        .dynamic-form-item-content{
            line-height: $form-height;
            margin-left: 6.5em;
            & > span,
            & > span > span{
                display: block;
            }
        }
        input {
            @include form-hidden-input;
            @include form-font-content;
            width: 100%;
        }
        .mixtext input{
            width: 1.20rem;
            border-bottom:1px solid $form-color-border;
        }
        /*&+.text{
            padding-left: 0;
            @include form-margin;
        }*/
    }
    /* textarea
    ---------------------------------------------*/
    &.textarea{
        background: none;
        .form-item-title,
        .dynamic-form-item-title{
            display: block;
            @include form-head;
        }
        .form-item-content,
        .dynamic-form-item-content{
            border-top: 1px solid $form-color-border;
            background: $form-color-background;
        }
        textarea{
            @include form-hidden-input;
            @include form-font-content;
            display: block;
            margin: 0 auto;
            padding: $form-size-pad;
            line-height: 1.4;
            width: 90%;
            width: calc(100% - #{2 * $form-size-pad});
            resize : none;
            height: #{1.4 * 4em};
        }
    }
    /* checkbox, radio
    ---------------------------------------------*/
    &.checkbox,
    &.radio{
        background: none;
        .form-item-title,
        .dynamic-form-item-title{
            display: block;
            @include form-head;
        }
        .form-item-content,
        .dynamic-form-item-content{
            border-top: 1px solid $form-color-border;
            background: $form-color-background;
            & > span > label{
                display: block;
                line-height: $form-height;
                @include form-margin;
                @include form-font-title;
                + label{
                    border-top: 1px solid $form-color-border;
                }
            }
        }
        .mixtext input{
            @include form-hidden-input;
            @include form-font-content;
            text-align: center;
            border-bottom:1px solid $form-color-border;
        }
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    .form-placeholder{
        @include form-font-content;
        color: #bbb;
    }

    /* switch
    ---------------------------------------------*/
    &.switch{
        @include form-padding;
        .form-item-title,
        .dynamic-form-item-title{
            position: absolute;
            @include form-font-title;
            /*float: left;*/
            display: block;
            width: 100%;
            pointer-events : none;
        }
        .form-item-content,
        .dynamic-form-item-content{
            
        }
        .form-item:not(.switch) {
            label {
                text-align: left;
            }
        }
        label{
            display: block;
            line-height: $form-height;
            text-align: right;
        }
        input[type="checkbox"]{
            display: none;
        }
        .ui-switch{
            position: relative;
            display: inline-block;
            height: .52rem;
            width: 1.05rem;
            padding: .02rem;
            margin-right:$form-size-pad;
            background: #d5d5d5;
            vertical-align: middle;
            border-radius: .56rem;
            @include transition;

            &:after{
                content:'';
                position: absolute;
                top: .02rem;
                left:0;
                height: .52rem;
                width: .52rem;
                background: #fff;
                border-radius: 100%;
                @include transition;
                @include transform(translate(.02rem, 0));
            }
        }
        input[type="checkbox"]:checked + .ui-switch{
            background: $color-main;
            &:after{
                @include transform(translate(.55rem, 0));
            }
        }
    }

    /* tag
    ---------------------------------------------*/
    &.multiselectlabel,
    &.tag{
        @include form-padding;
        padding-right: $form-size-pad;
        margin-top: .3rem;
        padding-bottom: .22rem;
        border-top: 1px solid $form-color-border;

        .form-item-title,
        .dynamic-form-item-title{
            display: block;
            @include form-font-title;
        }
        /*.form-item-content,
        .dynamic-form-item-content{
            text-align: justify;
        }*/
        .form-tagitem{
            display: inline-block;
            max-width: 100%;
            margin-right: .20rem;

            [type="checkbox"]{
                display: none;
            }
            span{
                display: inline-block;
                padding: .14rem .22rem .14rem .20rem;
                margin: .14rem 0;
                border: 1px solid $color-main;
                border-radius: .06rem;
                color: $color-main;
                font-size: .26rem;
                font-weight: 700;
                white-space: nowrap;
                /*max-width: 10em;*/
                /*overflow: hidden;*/
                /*text-overflow:ellipsis;*/
                /*@include transition;*/
                &:before{
                    content: '';
                    display: inline-block;
                    font-size: .24rem;
                    font-weight: 100;
                    margin-right: .06rem;
                    font-family: FontAwesome;
                }
            }
            [type="checkbox"]:checked + span{
                padding: .14rem .12rem .14rem .06rem;
                color: #fff;
                background: $color-main;
                &:before{
                    content: '\f00c';
                }
            }
        }
    }
}







