/*
    tips
*/
@import "../base/variable.scss";

.tips-info{
    padding:.16rem .00rem .16rem 1rem;
    &:before{
        display:block;
        float: left;
        margin-left: -.76rem;
        font-size: .80rem;
        font-family: FontAwesome;
    }    
}
.tips-info:before{
    content:'\f05a';
    color: rgb(99, 156, 202);
}