@import "../../variable.scss";
.m-controls{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 300;
    background: rgba(0,0,0,.4);
    overflow: hidden;

    pointer-events:none;
    visibility: hidden;
    @include transition;
    @include animation-duration(0.4s);
    @include animation-delay(0s);

    .m-controls-content{
        position: absolute;
        @include transition;
    }
    &[data-type="bottom"] .m-controls-content{
        bottom: 0;
        width: 100%;
        @include transform(translate(0, 100%));
    }
    &[data-type="middle"]{
        .m-controls-content{
            top:50%;
            left: 50%;
            width: 100%;
            text-align: center;
            @include transform(scaleY(0) translate(-50%, -50%));
        }
    }
    /*&.[data-type="bottom"] .m-controls-content{
    }*/

    &[data-show]{
        pointer-events:auto;
        visibility: visible;

        &[data-type="bottom"] .m-controls-content{
            @include transform(translate(0, 0));
        }
        &[data-type="middle"] .m-controls-content{
            @include transform(scaleY(1) translate(-50%, -50%));
        }
    }


}
