@import "../../../../css/base/variable.scss";
.poi-info{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.poi-count{
    float: right;
    padding-right: .68rem;
    font-size: .26rem;
    color: #999;
}
.poi-outer{
    .tips-info p{
        line-height: 1.6;
        color: #999;
    }

    .poi{
        position: relative;
    }
    .poi-tips{
        padding: .2rem .3rem;
        p{
            line-height: 1.6;
            color: #999;
            font-size: .26rem;
        }
    }
    .poi-side-check{
        position: absolute;
        left: 0;
        height: 100%;
        width: 1rem;
    }
    .poi-side-info{
        /*margin-left: 50px;*/
        label{
            display: block;
        }
        dl{
            margin-left: 1rem;
        }
        dt{
            font-size: .3rem;
            line-height: .76rem;
            color: #666;
        }
        dd{
            text-indent: -3em;
            margin-left: 3em;
            margin-right: .3rem;
            line-height: 1.4;
            font-size: .28rem;
            color: #999;
            margin-bottom: .2rem;
            min-height: 2.8em;
        }
        dd:before{
            content: '地址：';
        }
    }
    .poi-btnbox{
        display: none;
        margin-left: 1rem;
        border-top: 1px dashed #ccc;
        padding-right: .3rem;
        text-align: right;

        &.show{
            display: block;
        }

        label{
            display: inline-block;
        }

        [type="checkbox"]{
            visibility: hidden;
            width: 0;
            height: 0;
            overflow: hidden;

            &:checked + .btn{
                padding: .14rem .12rem;
                background : $color-main;
                color: #fff;

                &:before{
                    content: '\f00c';
                }
            }
        }
        .btn{
            display: inline-block;
            padding: .14rem .26rem;
            margin: .12rem 0;

            &:before{
                content: '';
                font-family: FontAwesome;
            }
        }
        .poi-cfgbtn,
        .btn{
            cursor: pointer;
        }
    }
}
