@import "../variable.scss";

.ui-radio,
.ui-checkbox{
    display: none;

    & + span{
        display: inline-block;
        min-height: .28rem;

        &:before{
            content :'';
            @include themify;
            display: inline-block;
            margin: 0 .14rem 0 0;
            width: .28rem;
            height: .28rem;
            line-height: .28rem;
            border-style: solid;
            border: .02rem $color-main-light solid;
            border-radius: 100%;
            box-sizing:border-box;
            text-align: center;
            font-size: .18rem;
            font-weight: 700;
            color:#fff;
            vertical-align: middle;
            background: #fff;
            @include transition(.1s);
        }
        &:active:before{
            border-color: $color-main-dark;
        }
    }
    &:disabled + span:before{
        border-color: #c8c8c8;
        background: #f4f4f4;
    }

    &:checked + span:before{
        border-color: $color-main-dark;
    }

    &:disabled:checked + span:before{
        border-color: #c8c8c8;
        background: #c8c8c8;
    }
}
.ui-radio{
    & + span{
        &:active:before{
            border-width: .02rem;
        }
    }

    // &:disabled + span:before,
    &:disabled:checked + span:before{
        border-color: #f4f4f4;
        box-shadow: #e0e0e0 0 0 0 1px;
    }
    &:checked + span:before,
    &:disabled:checked + span:before{
        border-width: .08rem;
    }
}

.ui-checkbox{
    &:checked + span:before{
        content:'\e64c';
        background: $color-main-dark;
    }
}

.ui-switch{
    position: relative;
    display: inline-block;
    height: 2em;
    width: 4em;
    padding: 0.02rem;
    background: #d5d5d5;
    vertical-align: middle;
    border-radius: 2em;
    @include transition;

    &:after{
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        height: 2em;
        width: 2em;
        margin: .02rem;
        background: #fff;
        border-radius: 2em;
        @include transition;
        @include transform(translate(-2em, 0));
    }
}
input[type="checkbox"]:checked + .ui-switch{
    background: $color-main;
    &:after{
        @include transform(translate(0, 0));
    }
}