@import "../variable.scss";

$color-form-background : #f8f8f8;
$color-form-foreground : #fff;
$color-form-border : #dedede;
$color-form-font : #333;
$color-form-font-sub : #999;
$form-font-size : .3rem;
$form-padding : .3rem;
$form-lineheight : .9rem;

@mixin transparentInput{
    border:none;
    box-shadow: none;
    background: transparent;
}

.form-cont{
    background: $color-form-background;
}

.form-group-title{
    display: block;
    padding-left: $form-padding;
    font-size: .26rem;
    color: $color-form-font-sub;
    float: none;
    background: $color-form-background;
    height: .6rem;
    line-height: .6rem;
}
.form-line{
    position: relative;
    padding: 0 $form-padding;
    font-size: $form-font-size;
    // background: $color-form-foreground;
    border: 0 solid $color-form-border;
    border-top-width: 1px;
    border-bottom-width: 1px;
    overflow: hidden;

    & + .form-line{
        margin-top: -1px;
    }

    .form-line-head{
        float: left;
        display: block;
        width: 5.5em;
        line-height: $form-lineheight;
        font-size: .3rem;
        color: #333;

        span{
            display: inline-block;
            line-height: 1.2;
            vertical-align: middle;
        }
    }
    .form-line-content{
        display: block;
        line-height: $form-lineheight;
        overflow: hidden;
    }
    .form-line-head + .form-line-content{
        margin-left: 6.5em;
    }
    input:not([type]),
    input[type="text"]{
        display: inline-block;
        width: 100%;
        font-size: $form-font-size;
        color: $color-form-font;
        @include transparentInput;

        &.form-input-mark{
            display: inline-block;
            width: auto;
            margin: 0 0.1rem;
            padding: .12rem;
            text-align: center;
            background: #e8e8e8;
            border-radius: .04rem;
            &:focus{
                background: #cacaca;
            }
        }
    }
    textarea{
        display: block;
        width: 100%;
        height: 1.08rem;
        padding: .2rem 0;
        line-height: 1.2;
        font-size: $form-font-size;
        color: $color-form-font;
        @include transparentInput;
        resize:none;
    }
    .ui-switch + span{
        float: right;
        font-size: .26rem;
        margin-top: .8em;
    }

    &.tips{
        cursor: pointer;
        :after{
            content: '\e649';
            @include themify;
            display: inline-block;
            position: absolute;
            top: 0;
            right: $form-padding;
            line-height: $form-lineheight;
            font-size: $form-font-size;
            color: #666;
        }
    }
}
.form-group{
    background: $color-form-foreground;
    .form-line{
        border-color:transparent;
    }
    .form-group-title + .form-line,
    .form-line:nth-of-type(1){
        border-top-color: $color-form-border;
    }
    .form-line:nth-last-of-type(1){
        border-bottom-color: $color-form-border;
    }
    .form-line + .form-line:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        margin-left: $form-padding;
        background: $color-form-border;
        overflow: hidden;
        z-index: 1;
    }
    & + .form-group{
        margin-top: -1px;
        .form-line:nth-of-type(1){
            border-top-color: transparent;
        }
    } 
}