#wrapper > [data-page]{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden; 
	pointer-events:none;
	visibility: hidden;
}
#wrapper > [data-page][data-status=show]{
	visibility: visible;
	pointer-events:auto;
}
