<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        
        <title>neetproject ver.6</title>
        
       <link rel="shortcut icon" href="/static/images/favourite.png" />
        <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" media="screen" href="/static/css/global.css" />
        <script src="/static/js/kit.js"></script>
    </head>
    <body class="loading">
        <div id="wrapper">
<%-page%>
        </div>
        <div id="syscomp">
            <nav id="mainnav">
                <ul>
                    <li data-for="index" data-hide="true">
                        <a href="/"><icon>✡</icon><f>home</f></a>
                    </li>
                    <li data-for="lab">
                        <a href="/lab"><icon>〄</icon><f>lab</f></a>
                    </li>
                    <li data-for="blog">
                        <a href="/blog"><icon>⌸</icon><f>blog</f></a>
                    </li>
                    <li data-for="about">
                        <a href="/about"><icon>❄</icon><f>about</f></a>
                    </li>
                </ul>
            </nav>
            <div id="loading" class="mid" onclick="history.go(-1)">
                <img class="midcont" src="/static/images/loading.gif" alt="loading">
            </div>
        </div>
    </body>
</html>