<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-language" content="zh-CN" />
        
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        
        <title>❄ neetproject</title>
        
        <link rel="shortcut icon" href="/static/images/fav.png" />
        <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" media="screen" href="/static/css/main.css" />
        <script>
        var $config = {
            cos_gaAccount : 'UA-57857767-1',
            background : /\biphone\b/i.test(navigator.userAgent)
        };
        </script>
        <script src="/static/lib/fastclick.js"></script>
        <script src="/static/lib/react.js"></script>
        <script src="/static/lib/core.js"></script>
    </head>
    <body class="loading">
        <!-- <div id="bg" data-bg="/static/images/bg.jpg" lazy-loading></div> -->
        <div id="wrapper" class="main-wrapper">
{{ content }}
        </div>
        <div id="syscomp" class="main-comp">
            <canvas id="canvas0" class="main-bg"></canvas>
            <canvas id="canvas1" class="main-bg"></canvas>
            <nav id="mainnav" class="main-nav">
                <ul>
                {% include nav.inc %}
                </ul>
            </nav>
            <div class="main-loading loading" onclick="window.history.go(-1);"></div>
        </div>

        <script>
        window.addEventListener('load', function() {
            if(!('defineProperty' in Object)){
                document.body.innerHTML = '<h3 style="padding-top:1rem;text-align:center;">系统版本太低，暂不支持</h3>';
            }
        });
        </script>
    </body>
</html>