@import "../variable.scss";
$navsize : 4rem;

.wrap{
    padding-left: $navsize;
}
.main-nav{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    background: #fafafa;
    box-shadow: rgba(0,0,0,.4) 0 0 .08rem;
    visibility: hidden;
    z-index: 10;
    @include transform(translate(-100%, 0));
    @include transition;

    &.show{
        visibility: visible;
        @include transform(translate(0, 0));
    }
    ul{
        position: relative;
        top:40%;
        width: $navsize;
    }

    li{
        a{
            display: block;
            padding-left: 1.4rem;
            line-height: .64rem;
            font-size: .28rem;
            /*text-align: center;*/
            text-decoration: none;
            color: $color-font-sub;

            border: 0 solid transparent;
            border-top-width:1px;
            border-bottom-width:1px;
            /*overflow-x: hidden;*/
            @include transition;
        }
        &:hover a,
        &.cur a{
            color: $color-main;
        }
        &.cur a{
            background: #fff;
            border-color: #ccc;
            /*box-shadow: rgba(0,0,0,.4) 0 0 4px;*/
        }
        span{
            display: inline-block;
        }
        
    }
}
nav icon{
    padding: 0 .1rem;
    min-width: 1.2em;
    display: inline-block;
}