.page_profile{
	overflow-y: auto;
	height: 100%;
}

.page_profile .func{
	position: absolute;
	right: 0;
	top:0;
	height: 100%;
}
.page_profile .sidelist{}
.page_profile .pagenumlist{
}
.page_profile .pagenum{
	display: block;
	width: 12px;
	height: 12px;
	margin:10px;
	border-radius: 100%;
	border:1px solid hsla(10, 70%, 70%, .8);
	cursor: pointer;
}
.page_profile .pagenum.cur{
	background: hsla(10, 70%, 70%, .6);
}