<div class="page_gallery wrap">
    <ul class="gallery_list">
    {% for post in site.categories.memories %}
        <li class="gallery_item">
            <figure class="gallery_photo">
                <img class="gallery_cover" data-lazyload="{{ post.image }}" />
                <figcaption class="gallery_desc">{{ post.content }}</figcaption>
            </figure>
        </li>
    {% endfor %}
    </ul>
    <ul class="gallery_timeline">
        <li></li>
    </ul>

    <script>
        window.top.alpha.loadPage('/memories', wrapper, {
            scripts:['/static/pages/memories/index.js']
        });
    </script>
</div>
