/** track@alpha:{"version":"0.2.43","build":"2015-12-18 22:34:52","hash":""} */
@import "../../variable.scss";
.m-timepicker{
    .m-timepicker-content{
        text-align: center;
        & > :first-child(1){
            width: 40%;
            ul{
                text-align: right;
            }
        }
        & > :last-child(1){
            width: 40%;
            ul{
                text-align: left;
            }
        }
    }
    .m-picker{
        display: inline-block;
        min-width: 5em;
    }
}