@import "../../variable.scss";

.m-controls-select{
    background: #fff;

    .m-controls-select-head{
        line-height: .66rem;
        border-bottom: 1px solid #eee;

        h1{
            font-size: .28rem;
            color: #333;
            font-weight: 700;
            text-align:center;
            @include textEllipsis;
        }

        .m-controls-select-cancel,
        .m-controls-select-submit{
            font-size: .24rem;
            color: $color-main;
            padding: 0 1em;
        }
        .m-controls-select-cancel{
            float:left;
        }
        .m-controls-select-submit{
            float:right;
        }
    }
    ul{
        max-height: 4.5rem;
        @include scroll(scroll);
        background: #f0f0f0;
    }
    li{
        /*background: #fff;*/
        color: #333;
        border-bottom: 1px solid #e0e0e0;
        display: block;
        line-height: .88rem;
        text-align: center;
        cursor: pointer;
        @include textEllipsis;
    }
    .current{
        font-weight: 700;
        color: $color-em;
    }
}

