@import "../../variable.scss";

.m-controls-select{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 48%;
    background: #fff;
    @include scroll;

    opacity: 1;
    @include transition;
    @include transform(translate(0, 100%));
    @include animation-duration(0.4s);

    ul{

    }
    li{
        background: #fff;
        color: #333;
        border-bottom: 1px solid #e0e0e0;
        display: block;
        line-height: .88rem;
        text-align: center;
        cursor: pointer;
    }
    .current{
        font-weight: 700;
        color: $color-em;
    }
}

[data-onshow] .m-controls-select{
    @include transform(translate(0, 0%));
}